<!--<h1>Template form examples</h1>-->
<!--<app-ng-model-example></app-ng-model-example>-->
<!--<app-ng-form-example></app-ng-form-example>-->
<!--<app-ng-model-group-example></app-ng-model-group-example>-->
<!--<app-validation-styling-example></app-validation-styling-example>-->

<!--<h1>Reactive form examples</h1>-->
<!--<app-form-control-example></app-form-control-example>-->
<!--<app-form-group-example></app-form-group-example>-->
<!--<app-nested-form-group-example></app-nested-form-group-example>-->
<!--<app-form-builder-example></app-form-builder-example>-->
<!--<app-reactive-form-validation-example></app-reactive-form-validation-example>-->
<app-form-array-example></app-form-array-example>
